* {
  font-family: 'MuseoModerno' , sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form input {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  padding-left: 20px;
  color: #4B4B4B;
}

.form input:nth-child(3) {
  margin-bottom: 17px;
}

.button {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  width: 153px;
  height: 32px;
  background: #C70101;
  border-radius: 5px;
  border: none;
  margin-top: 4px;
}

.button_main {
  width: 303px;
  height: 54px;
  font-size: 16px;
  vertical-align: center;
}

.button_form {
  width: 300px;
  height: 58px;
  font-size: 16px;
}

.promo {
  height: 650px;
  width: 100%;
  color: #FFFFFF;
  background: url("../img/bg_promo.png") center center/cover no-repeat;
}

.promo .container {
  max-width: 1140px;
  padding: 21px 100px;
}

.promo__wrapper {
  max-width: 530px;
  margin-top: 91px;
  margin-left: auto;
}

.promo__header {
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  text-transform: uppercase;
  text-align: right;
}

.promo__subheader {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 17px;
  text-align: right;
}

.promo__wrapper-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 60px;
  padding-left: 87px;
}

.promo__wrapper-icons .promo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__wrapper-icons .promo-block__icon {
  display: block;
  width: 45px;
}

.promo__wrapper-icons .promo-block__icon-text {
  width: 105px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  margin-top: 20px;
}

.promo__call-to-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-top: 65px;
}

.promo__call-to-action .link {
  font-size: 16px;
  line-height: 25px;
  text-decoration: none;
  color: #fff;
  margin-top: 8px;
  line-height: 25px;
}

.promo__call-to-action .link span {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: underline;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 251px;
}

.header__logo img {
  width: 100%;
}

.header__official {
  width: 251px;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
}

.header__official span {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  margin-top: 7px;
}

.header__call {
  width: 251px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.benefit {
  padding: 70px 0;
  background-color: #f6f6f6;
}

.benefit__header {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.benefit__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.benefit__icon {
  width: 70px;
}

.benefit__subheader {
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  margin-top: 35px;
}

.benefit__text {
  max-width: 277px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin-top: 20px;
}

.benefit__text .link {
  color: #FF0000;
  font-size: 14px;
  text-transform: uppercase;
}

.consultation {
  background: url("../img/form_bg.png") center center/cover no-repeat;
  color: #fff;
  padding: 102px 0 108px 0;
}

.consultation .container {
  padding: 0 236px 0 105px;
}

.consultation__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
  max-width: 840px;
}

.consultation__descr {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  max-width: 500px;
  margin-top: 8px;
  margin-bottom: 36px;
}

@media (max-width: 991px) {
  .header {
    font-size: 11px;
  }
  .header span {
    font-size: 15px;
    margin: 0;
  }
  .consultation .container {
    padding: 0 50px 0 100px;
  }
  .consultation__header {
    font-size: 27px;
  }
}

@media (max-width: 767px) {
  .header__official {
    display: none;
  }
  .promo__header {
    font-size: 31px;
  }
  .promo__wrapper-icons {
    padding: 0;
  }
  .consultation__header {
    line-height: 35px;
    font-size: 19px;
  }
  .consultation .form input {
    width: 100%;
  }
  .consultation .form .button_form {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__call {
    font-size: 10px;
  }
  .header__call .button {
    font-size: 10px;
    width: 107px;
    height: 20px;
  }
  .promo .container {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  .promo__wrapper {
    margin-top: 17px;
  }
  .promo__wrapper-icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  .promo__wrapper-icons .promo-block {
    margin-top: 30px;
  }
  .promo__wrapper-icons .promo-block:first-child {
    margin-top: 0px;
  }
  .promo__wrapper-icons .promo-block__icon {
    width: 32px;
  }
  .promo__wrapper-icons .promo-block__icon-text {
    font-size: 11px;
    margin-top: 10px;
  }
  .promo__header {
    text-align: center;
    font-size: 23px;
    line-height: 32px;
  }
  .promo__subheader {
    text-align: center;
    font-size: 16px;
  }
  .promo .promo__call-to-action .button_main {
    height: 38px;
  }
  .consultation .container {
    padding-left: 50px;
  }
  .consultation__descr {
    display: none;
  }
  .consultation .form input {
    width: 270px;
  }
  .consultation .form .button_form {
    width: 270px;
    height: 40px;
    font-size: 14px;
  }
}

@media (max-width: 459px) {
  .promo__call-to-action {
    margin-top: 37px;
  }
  .promo__call-to-action .button_main {
    width: 100%;
  }
  .benefit__header {
    font-size: 23px;
  }
  .consultation {
    padding: 50px 0 50px;
  }
  .consultation__header {
    font-size: 15px;
  }
  .consultation .form input {
    width: 240px;
  }
  .consultation .form .button_form {
    width: 240px;
  }
}
/*# sourceMappingURL=style.css.map */