@media (max-width:991px)
  .header
    &__official
      font-size: 11px
      
      span
        font-size: 15px
        margin: 0

@media (max-width:767px)
    .header
        &__official
            display: none

    .promo
        &__header
            font-size: 31px
        &__wrapper-icons
            padding: 0


@media (max-width:575px)
    .header
        flex-direction: column




    